.App_header {
  display: flex;
  background-color: blueviolet;
}


.main_chat {
  display: flex;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
}

.chat {
  background: #F2F5F8;
  color: #434651;

}
.chat_message clearfix{
  width: 60%;
  align-items: center;
}


  

  












