.sign-up-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sign-up-form__form {
    min-width: 260px;
}

.sign-up-form__field {
    margin-bottom: 20px;
    text-align: left;
}

.sign-up-form__input {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    min-width: 200px;
}

.o-link {
    color: gray;
    font-size: 18px;
}

.sign-up-form__link {
    color: #767676;
}

.sign-out__link {
    color: #ffffffcb;
}

.sign-up-form__label {
    display: block;
    color: #353535;
    font-weight: 700;
    margin-bottom: 3px;
    margin-right: 5px;
}

.sign-up-form__button-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign-up-form__login-button {
    background-color: #535353;
    border-color: #535353;
    cursor: pointer;
    font-weight: 700;
    min-width: 85px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 0.6;
    padding: 11px;
    border-radius: 24px;
}


.sign-up-form__incorrect-credentials-error {
    color: red;
}







